<html>
  <style>
    h2 {color: #740; font: sans-serif smaller; }
    </style>

  <body>
    {% if msg %}
    <p class=msg>{{ msg }}</p>
    {% endif %}
    <h1>Queued jobs</h1>
    {% if jobs %}
    {% for id, title, text, dest_dir, progress in jobs %}
    <h2>{{ title }}</h2>

    {% if  id == 'background' %}
    {# a background job, only action is cancel #}
    this is a random autobuild commit from <code>origin/master</code><br>
    <a href=/cancel?job={{id}}>kill it now</a>

    {% else %}

    <i>id: {{ id }}</i>

    <pre>{{ text }} </pre>

    {% if dest_dir %}
    <b>Currently running</b> in <code>{{ dest_dir }}</code><br>

    Completed {{progress.rounds}}/{{progress.target_rounds}}<br>

    {% if progress.comment %}
    {{progress.comment}}<br>
    {% endif %}

    {% if progress.percent %}
    <i>approximately</i> {{progress.percent}}% complete<br>
    {% endif %}

    <a href=/details?job={{id}}>details</a>
    <br>


    <a href=/cancel?job={{id}}>stop now</a>
    {% else %}
    <p>Not yet started </p>

    <a href=/cancel?job={{id}}>cancel</a>
    {% endif%}  {# progress.percent #}

    {% endif %} {# progress #}

    {% endfor %}

    {% else %} {# no jobs #}
    <p>There are no queued jobs!</p>
    {% endif %}
  </body>
</html>
